<div id="delete-message-modal" class="modal">
  <div class="modal-content">
    <!-- モーダルのヘッダー -->
    <div class="modal-header">
      <button
        id="delete-message-modal-close-button"
        class="icon-button"
        aria-label="閉じる"
      >
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <form
      name="delete-message-form"
      id="delete-message-form"
      action=""
      method="POST"
    >
      <input type="hidden" name="_method" value="DELETE" />

      <p>削除したメッセージは元には戻せません。</p>
      <p>本当に削除してよろしいですか？</p>

      <!-- 削除ボタン -->
      <div class="modal-footer">
        <div class="modal-action">
          <button class="base-button pink-button">削除する</button>
        </div>
      </div>
    </form>
  </div>
</div>
