<div id="delete-channel-modal" class="modal">
  <div class="modal-content">
    <!-- モーダルヘッダー -->
    <div class="modal-header">
      <h3>チャンネルの削除</h3>
      <button
        title="閉じる"
        id="delete-channel-modal-close-button"
        class="icon-button close"
        aria-label="閉じる"
      >
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <form
      action="{{ url_for('delete_channel', channel_id=channel.channel_id) }}"
      method="POST"
    >
      <!-- モーダルボディ -->
      <div class="modal-body">
        <p>削除したチャンネルは元には戻せません。</p>
        <p>本当に削除してよろしいですか？</p>
      </div>

      <!-- モーダルフッター -->
      <div class="modal-footer">
        <button class="base-button pink">削除する</button>
      </div>
    </form>
  </div>
</div>
