<div id="update-message-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button
        id="update-message-modal-close-button"
        class="icon-button"
        aria-label="閉じる"
      >
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <form id="update-message-form" method="POST">
      <input type="hidden" name="_method" value="PUT" />

      <div class="modal-body">
        <label class="form-label" for="modal-message-text">メッセージ</label>
        <div class="textarea-wrapper">
          <textarea
            id="modal-message-text"
            name="message_text"
            rows="5"
            placeholder="メッセージを入力してください。"
            required
          ></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <div class="modal-action">
          <button class="base-button yellow-button">編集する</button>
        </div>
      </div>
    </form>
  </div>
</div>
