<!-- TODO(rootさん): チャンネルの編集用のモーダルを記述 -->
<div id="update-channel-modal" class="modal">

  <div class="modal-content">
    <!-- モーダルのヘッダー -->
    <div class="modal-header">
        <button id="update-channel-modal-close-button" class="icon-button" aria-label="閉じる"></button>
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <form
      action="{{ url_for('update_channel', channel_id=channel.channel_id) }}"
      method="POST"
      name="update-channel-form"
    >
        <input type="hidden" name="_method" value="PUT" />

        <!-- モーダルのメイン -->
        <div class="modal-body">
            <!-- チャンネル名 -->
            <div class="form-group">
                <label class="form-label" for="channel_name">チャンネル名</label>
                <input readonly
                    id="channel_name"
                    name="channel_name"
                    placeholder=channel.channel_name
                    value=channel.channel_name
                    required
                ></input>
                <p class="form-help">
                    ※チャンネル名は入力できません
                </p>
            </div>

            <!-- チャンネル詳細 -->
            <div class="form-group">
                <label class="form-label" for="description">チャンネル詳細</label>
                <textarea
                    id="description"
                    name="description"
                    rows="5"
                    placeholder=channel.description
                    required
                ></textarea>
            </div>
        </div>

        <!-- 編集ボタン -->
        <div class="modal-action">
            <button class="base-button green-button">編集する</button>
        </div>
    </form>
  </div>
</div>
