<div id="update-message-modal" class="modal">
  <!-- モーダルの中身 -->
  <div class="modal-content">
    <!-- モーダルのヘッダー -->
    <div class="modal-header">
      <button id="close-modal-button" class="icon-button" aria-label="閉じる">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <form
      action="{{ url_for('update_message', channel_id=channel.channel_id, message_id=message.message_id) }}"
      method="POST"
    >
      <input type="hidden" name="_method" value="PUT" />

      <!-- モーダルのメイン -->
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label" for="message_text">メッセージ</label>
          <textarea
            id="message_text"
            name="message_text"
            rows="5"
            placeholder="メッセージを入力してください。"
            required
          ></textarea>
          <p class="form-help">
            フォームの下にヘルプメッセージを書く場合はこちらに
          </p>
        </div>
      </div>

      <!-- モーダルの操作ボタン -->
      <div class="modal-action">
        <button class="base-button green-button">編集する</button>
      </div>
    </form>
  </div>
</div>
