<!-- TODO(rootさん): チャンネルの編集用のモーダルを記述 -->
<!-- NOTE: ダイアログを閉じるボタンのアイコンは以下を使用してください。 -->
<ion-icon name="close"></ion-icon>
<!-- NOTE: ダイアログを閉じるボタンには「close-modal-button」というIDを付けてください。 -->
<!-- NOTE: クラス名や記述方法はサンプルアプリを参考にしてください。 -->
<div id="update-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button class="modalClose" id="close-modal-button">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <h4>チャンネル名</h4>
    <input
      type="text"
      placeholder="チャンネル名"
      class="channel-form-input"
      name="channelTitle"
      required
    />
    <p>※チャンネル名は変更できません。</p>

    <h4>チャンネル詳細</h4>
    <form
      name="updateChannelForm"
      class="modal-body"
      action="/channels/{channel.id}/update"
      method="POST"
    >
      <input
        type="text"
        placeholder="チャンネルの説明"
        class="channel-form-input"
        name="channelDescription"
      />
      <button>編集する</button>
    </form>
  </div>
</div>
