<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      RareGarden | {% block title %} <!-- ここにタイトルを記述 --> {% endblock
      %}
    </title>
    <!-- アプリタイトル用のフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <!-- 完成後は以下のCSSのみ読み込む -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='gen/bundled.css') }}"
    />
    <!-- 以下に開発時に全ファイルで読み込むCSSを記述 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app-bar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/modal.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/variables.css') }}"
    />
    {% block css %}
    <!-- 開発時に各ファイルで読み込むCSSを記述 -->
    {% endblock %}
  </head>
  <body>
    <!-- アプリバーを取り込む -->
    {% include'util/app-bar.html' %}

    <!-- prettier-ignore -->
    {% block body %}
    <!-- ここにボディを記述 -->
    {% endblock %}

    <!-- prettier-ignore -->
    {% block script %}
    <!--ここにJavaScriptを記述 -->
    {% endblock %}

    <!-- Ioniconsを使用するための設定 -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
