<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <!-- ここにタイトルを記述 -->
    {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='gen/bundled.css') }}"
    />
  </head>
  <body>
    {% block body %}
    <!-- ここにボディを記述 -->
    {% endblock %}

    <!-- prettier-ignore -->
    {% block script %}
    <!--ここにJavaScriptを記述 -->
    {% endblock %}
  </body>
</html>
