<!--手順1：extends 継承する親テンプレートを指定-->
{% extends 'base.html' %}

<!--手順2：ブラウザのタブ名の指定(URL設計参照) -->
{% block title %} チャンネル一覧 {% endblock %}{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/channels.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/tabbar.css') }}"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="main-container">
  <!-- 左上の表示-->
  <div class="app-title">
    <h1>Rare Garden</h1>
    <nav class="menu">
      <ul id="header-menu">
        <li><a href="/mypage">マイページ</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    </nav>
    <div id="hamburger" class="hamburger">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </div>
  <!-- チャンネル作成のボタン（このエリアをヘッダーとする）　-->
  <div id="channels-header">
    <button id="create-channel-button" type="button">チャンネル作成</button>
  </div>
  <!-- チャンネル一覧（このエリアをボディとする）　-->
  <div id="channels-body">
    <h2>チャンネル一覧</h2>
    <ul class="channel-box"></ul>
    <!-- ページネーションの表示 -->
    <div class="pagination-container">
      <p id="prev">
        <
        <span>PREV</span>
      </p>
      <ul class="pagination"></ul>
      <p id="next">
        <span>NEXT</span>
        >
      </p>
    </div>
  </div>

  <!-- モーダル読み込み -->
  {% include 'modal/create-channel.html' %}
</div>
{% endblock %}

<!-- JS読み込み -->
{% block script%}
<script type="text/javascript">
  // prettier-ignore
  const channels = JSON.parse('{{ channels|tojson }}');
  // prettier-ignore
  const user_id = JSON.parse('{{ user_id|tojson }}');
</script>
<script
  src="{{url_for('static',filename='js/channels/create-channel.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/pagination.js')}}"
  type="module"
></script>
<script src="{{url_for('static',filename='js/tabbar.js')}}">
  type="module"
</script>
{% endblock %}
