{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %}
<title>チャットルーム | {{channel.channel_name}}</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="main-container">
  <!-- TODO(はるか): フレックスボックスを使い、左右に隙間を入れて並べる -->
  <div id="chat-header">
    <div id="channel-detail">
      <p>{{channel.channel_name}}</p>
      <p>{{channel.description}}</p>
    </div>

    <div id="channel-actions">
      <!-- チャンネルを作成したユーザーのみチャンネルの編集・削除ができる -->
      {% if user_id == channel.user_id %}
      <button id="update-channel-button">
        <!-- TODO(はるか): 編集アイコンを追加 -->
      </button>
      <button id="delete-channel-button">
        <!-- TODO(はるか): 削除アイコンを追加 -->
      </button>
      {% endif %}

      <!-- チャンネルの編集用のモーダルを取り込む -->
      {% include 'modal/update-channel.html' %}

      <!-- チャンネルの削除用のモーダルを取り込む -->
      {% include'modal/delete-channel.html' %}
    </div>
  </div>

  <div id="chat-body">
    <!-- メッセージの一覧 -->

    <!-- メッセージ作成フォーム -->
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<!-- チャンネルの編集用のモーダルを制御するスクリプトを読み込む -->
<script
  src="{{url_for('static',filename='js/channels/update-channel.js')}}"
  type="text/javascript"
></script>

<!-- チャンネルの削除のモーダルを制御するスクリプトを読み込む -->
<script
  src="{{url_for('static',filename='js/channels/delete-channel.js')}}"
  type="text/javascript"
></script>
{% endblock %}
