{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %}
マイページ
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="mypage-wrapper">
  <h1>RareGarden</h1>
  <div class="mypage-container">
    <h2>ユーザーログイン</h2>
    <table>
      <tr>
        <th>ユーザー名</th>
        <th>{{user.user_name}}</th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th>{{user.email}}</th>
      </tr>
      <tr>
        <th>都道府県</th>
        <th>
          <form
            class="mypage-form"
            action="{{ url_for('update_user_prefecture', user_id=user.user_id) }}"
            method="POST"
          >
            <div>
              <select name="prefecture_id" id="prefecture_id">
                {% for prefecture in prefectures %} {% if
                prefecture.prefecture_id == user.prefecture_id %}
                <option value="{{ prefecture.prefecture_id }}" selected>
                  {{ prefecture.prefecture_name }}
                </option>
                {% else %}
                <option value="{{ prefecture.prefecture_id }}">
                  {{ prefecture.prefecture_name }}
                </option>
                {%endif %} {% endfor %}
              </select>
            </div>
            <button class="base-button yellow-button">更新する</button>
          </form>
        </th>
      </tr>
      <tr>
        <th>集めたお花の数</th>
        <th></th>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<!-- チャンネルの編集用のモーダルを制御するスクリプトを読み込む -->

{% endblock %}
