


  <body>
    <div class="back-container">
    <div class="backbackground-image">
    <h1 class="app-name">Rare Garden</h1>
    <div class="container">
    <h2>ユーザーログイン</h2>
    <form>
    <p>メールアドレス</p>
    <input type="email" name="email" required placeholder="メールアドレスを入力" /><br />
　　<p>パスワード</p>
    <input type="password" name="password" required placeholder="パスワードを入力" /><br />
    <input type="submit" value="ログイン" /><br /><br />
    </form>
    <button class="btn"
      onclick="location.href='  '">
      登録はこちら
    </button>
    </div>
    </div>
    </div>
</body>
</html>
