<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Login" />
    <link rel="stylesheet" href="login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
  </head>

  <body>
    <div class="back-container">
    　<div class="backbackground-image">
    　<h1 class="appn-name">Rare Garden</h1>
    　<div class="container">
      <p>ユーザーログイン</p>
      　<form>
      　<p>メールアドレス</p>
      　<input type="email" required placeholder="メールアドレスを入力" />
　　　　<p>パスワード</p>
      　<input type="password" required placeholder="パスワードを入力" />
      　</form>
      　<br />
       <input type="submit" value="ログイン" />
       <br />
       <button
         class="btn"
         onclick="location.href='https://github.com/hackathon-autumn-Hteam/tree/feature/191/signup.html'">
        登録はこちら
       </button>
    </div>
    </div>
    </div>  
 </body>
</html>
