{% extends 'auth/base.html' %}

<!-- prettier-ignore -->
{% block title %}
<title>login</title>
{% endblock %}

<!-- prettier-ignore -->
{% block css %}
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="auth-wrapper">
  <h1 class="auth-title">RareGarden</h1>
  <div class="auth-form-container">
    <form class="auth-form" method="post">
      <h2 class="auth-subtitle">ユーザーログイン</h2>
      <div class="form-group">
        <label class="form-label" for="email">メールアドレス</label>
        <input
          type="text"
          placeholder="メールアドレスを入力してください"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="password">パスワード</label>
        <input
          type="password"
          placeholder="パスワードを入力してください"
          name="password"
          id="password"
          required
        />
      </div>
      <div class="auth-button-container">
        <button class="base-button yellow-button">ログイン</button>
      </div>
      <div class="auth-button-container">
        <button
          class="base-button yellow-button"
          type="button"
          onclick="location.href='{{ url_for('signup_view') }}'"
        >
          登録はこちら
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
