{% extends 'auth/base.html' %}

<!-- prettier-ignore -->
{% block title %}
<title>signup</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="auth-wrapper">
  <h1>RareGarden</h1>
  <div class="auth-form-container">
    <h2>新規登録</h2>

    <form class="auth-form" method="post">
      <div class="form-fields">
        {% with messages = get_flashed_messages() %}
        <!-- prettier-ignore -->
        {% if messages %}
        <div>
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <!-- prettier-ignore -->
        {% endwith %}

        <div>
          <label class="form-label" for="user_name">名前</label>
          <input
            type="text"
            placeholder="名前を入力してください"
            name="user_name"
            id="user_name"
            required
          />
        </div>

        <div>
          <label class="form-label" for="email">メールアドレス</label>
          <input
            type="text"
            placeholder="メールアドレスを入力してください"
            name="email"
            id="email"
            required
          />
        </div>

        <div>
          <label class="form-label" for="password">パスワード</label>
          <input
            type="password"
            placeholder="パスワードを入力してください"
            name="password"
            id="password"
            required
          />
        </div>

        <div>
          <label class="form-label" for="password_confirmation"
            >パスワードの再入力</label
          >
          <input
            type="password"
            placeholder="パスワードを再入力してください"
            name="password_confirmation"
            id="password_confirmation"
            required
          />
        </div>

        <div>
          <label class="form-label" for="prefecture_id">都道府県</label>
          <select name="prefecture_id" id="prefecture_id">
            <option value="">都道府県を選択してください</option>
            {% for prefecture in prefectures %}
            <option value="{{ prefecture.prefecture_id }}">
              {{ prefecture.prefecture_name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button class="base-button yellow-button">登録する</button>
    </form>
  </div>
</div>
{% endblock %}
