{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/util/app-bar.css') }}"
/>
{% endblock %}
<div class="app-bar">
  <div class="app-title">
    <a href="{{ url_for('channels_view') }}"> RareGarden </a>
  </div>
  <div>
    <!-- ここにユーザーメニューを追加してください -->
    <div class="app-title">
      <nav class="menu">
        <ul id="header-menu">
          <li><a href="/mypage">マイページ</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </nav>
      <div id="hamburger" class="hamburger">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>
{% block script %}
<script src="{{url_for('static',filename='js/app-bar.js')}}">
  type="module"
</script>
{% endblock %}
