.app-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 54px;
  background-color: var(--green);
  box-shadow: 0px 1px 10px 0px var(--grey);
}

.app-bar .app-title {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.app-bar .app-title a {
  text-decoration: none;
  color: black;
}
