.app-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 54px;
  background-color: var(--green);
  box-shadow: 0px 1px 10px 0px var(--grey);
  z-index: 1000;
}

.app-bar .app-title {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.app-bar .app-title a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 10;
}

#header-menu {
  position: fixed; /* 画面に固定 */
  top: 0; /* 画面の上端から */
  right: 0; /* 画面の右端に固定 */
  width: 200px;
  overflow: hidden;
  transition: 0.3s;
  list-style: none;
  background-color: #fafad2;
}

#header-menu　li a {
  padding: 8px;
  font-size: 16px;
  color: #464646;
  display: block;
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
}
.hamburger {
  position: absolute;
  top: 5px;
  right: 32px;
  cursor: pointer;
  width: 32px;
  height: 24px;
  z-index: 10;
  font-size: 2.5em;
}
