.app-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 54px;
  background-color: var(--green);
  box-shadow: 0px 1px 10px 0px var(--grey);
  z-index: 1000;
}

.app-bar .app-title {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.app-bar .app-title a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 10;
}

/*スライドメニュー*/
#header-menu {
  position: fixed; /* 画面に固定 */
  top: 54px; /* app-barの下に表示 */
  right: -100%; /* 初期状態では画面の外に隠れている */
  width: 150px; /* メニューの横幅 */
  overflow: hidden;
  transition: 0.3s;
  list-style: none;
  background-color: var(--yellow);
}

/* スライドメニューを開く */
#header-menu.open {
  right: 0; /*右から出現s*/
}

/* スライドメニューの項目 */
#header-menu　li a {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: #464646;
  display: block;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
}

/* スライドメニューのアイコン */
.hamburger {
  position: absolute;
  top: 5px;
  right: 32px;
  cursor: pointer;
  width: 32px;
  height: 24px;
  z-index: 10;
  font-size: 1.8em;
}
