
background-image: url("https://github.com/hackathon-autumn-Hteam/hackathon-autumn-Hteam/blob/feature/191/ChatApp/static/img/image.png");

form input[type = "submit"]:hover {
  background-color: 　　　　　;　#ff69b4;
  border: 2px solid #　　　　;　 #ff69b4;　　
}

.box a{
  display:block;
  height:　　px;
  margin:　　　;
  line-height:　　px;
  background:white;
  color:#    ;
  border-radius:   px; 　　　　※角丸
  text-decoration:none;
  text-align:center;

}
