.auth-wrapper {
  background-image: url(static/img/image.png);
}
.auth-form-container {
}
/* フォーム全体 */
.auth-form {
}
/* 各フォーム */
.auth-form-group {
  display: flex;
  flex-direction: column;
}
/* ボタン */
.auth-button-container {
}
/* タイトル */
.h1 {
}
/* サブタイトル */
.h2 {
}
