background-image:url(ChatApp/static/img/image.png);

.app-name{
top:  px;
text-align:center;
position: relative;
}

h3{
top:20px;
font-size:20px;
position: relative;
}

.email{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:36px;
}
.password{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:44px;  
}

.container{
position: relative;
text-align:center;
background-color:#B9D8C2;
opacity: ;
font-size:15px;
width: 280px;
height:360px;
opacity:0.8;
border-radius:50px;
margin: 0 auto;
}

form input[type = "submit"]{
position: relative;
background-color:#F9F6EB;
border-color:#F9E491;
font-size:12px; 
opacity:0.7;
height:28px;
width:88px;  
border-radius:30px;
top:40px;
}

form input[type = "submit"]:hover{
background-color:#F9E491;
opacity:1;
}

.btn{
background-color:#F9F6EB;
border-color:#F9E491;
font-size:12px;
opacity:1;
height:28px;
width:88px;
border-radius:30px;
top:72px;
position: relative;  
}

.btn:hover{
background-color:#F9E491;
opacity:1;
}

form{
position: relative;  
top:44px;
}


