/*-------------------------------------------
  タグ
  -------------------------------------------*/
* {
  margin: 0; /* デフォルトの余白をリセット */
  padding: 0; /* デフォルトの余白をリセット */
  box-sizing: border-box; /* 代替ボックスモデル(widthやheightがborderとpaddingを含んだサイズとして扱われる) */
}

body {
  background-image: url("../img/background.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /*overflow: hidden;*/
}

/* アプリタイトル(RareGarden) */
h1 {
  margin: 0;
  font-size: 40px;
  white-space: nowrap;
}

/* ページタイトル */
h2 {
  margin: 0;
  white-space: nowrap;
}

/* モーダルタイトル */
h3 {
  margin: 0;
  font-weight: normal;
}

/* フォーム */
input[type="password"],
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%; /* 親要素の幅に合わせる */
  border: 1px solid var(--green-border);
  padding: 8px 20px;
  border-radius: var(--border-radius);
  resize: none;
}

/* フォーム(フォーカス時) */
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px rgba(74, 158, 117, 0.9);
  outline: none;
}

/* フォーム(readonly時) */
input[type="password"]:read-only,
input[type="text"]:read-only,
input[type="email"]:read-only,
textarea:read-only,
select:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

/* フォーム(readonly時・フォーカス時) */
input[type="password"]:read-only:focus,
input[type="text"]:read-only:focus,
input[type="email"]:read-only:focus,
textarea:read-only:focus {
  box-shadow: none;
}

/* ブラウザのオート入力でフォームが青くなるのを抑制 */
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

/*-------------------------------------------
  クラス
  -------------------------------------------*/
.app-title {
  white-space: nowrap;
  font-family: "Itim", cursive;
  font-weight: 400;
}

.main-container {
  padding-top: 54px; /* アプリバー分の余白 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-medium);
  margin: 20px;
  max-width: 1280px;
}

.flashes {
  color: red;
  list-style: none;
}

.flashes li {
  text-align: center;
}

/* フォームの入力欄(ボタン以外) */
.form-fields {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

/* ラベル */
.form-label {
  display: block; /* ブロック要素にする */
  margin-left: 12px;
  margin-bottom: 4px;
}

/* ヘルプメッセージ */
.form-help {
  color: var(--help-text);
  margin: 4px 12px;
  font-size: 14px;
}

/* ヘルプメッセージ(※マーク) */
.form-help::before {
  content: "※";
  margin-right: 4px;
}

/* ボタン */
.base-button {
  border: 1px solid;
  border-radius: var(--border-radius);
  height: 33px;
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
}

/* 緑のボタン */
.base-button.green {
  background-color: var(--green);
  border-color: var(--green-border);
}

/* 緑のボタン(ホバー時） */
.base-button.green:hover {
  background-color: var(--green-light);
}

/* 緑のボタン（アクティブ時） */
.base-button.green:active {
  background-color: var(--green-dark);
  transform: scale(0.96);
}

/* ピンクのボタン */
.base-button.pink {
  background-color: var(--red);
  border-color: var(--red-border);
}

/* ピンクのボタン(ホバー時） */
.base-button.pink:hover {
  background-color: var(--red-light);
}

/* ピンクのボタン(アクティブ時） */
.base-button.pink:active {
  background-color: var(--red-dark);
  transform: scale(0.96);
}

/* 黄色いボタン */
.base-button.yellow {
  background-color: var(--yellow);
  border-color: var(--yellow-border);
}

/* 黄色いボタン(ホバー時) */
.base-button.yellow:hover {
  background-color: var(--yellow-light);
}

/* 黄色いボタン(アクティブ時) */
.base-button.yellow:active {
  background-color: var(--yellow-dark);
  transform: scale(0.96);
}

/* アイコンボタン */
.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid;
  border-radius: 50%;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

/* 編集アイコンボタン */
.icon-button.update {
  border-color: var(--green-border);
  background-color: var(--green);
  transform: scale(0.96);
}

/* 編集アイコンボタン(ホバー時) */
.icon-button.update:hover {
  background-color: var(--green-light);
}

/* 編集アイコンボタン(アクティブ時) */
.icon-button.update:active {
  background-color: var(--green-dark);
  transform: scale(0.96);
}

/* 削除アイコンボタン */
.icon-button.delete {
  border-color: var(--red-border);
  background-color: var(--red);
  transform: scale(0.96);
}

/* 削除アイコンボタン(ホバー時) */
.icon-button.delete:hover {
  background-color: var(--red-light);
}

/* 削除アイコンボタン(アクティブ時) */
.icon-button.delete:active {
  background-color: var(--red-dark);
  transform: scale(0.96);
}

/* 閉じるアイコンボタン */
.icon-button.close {
  background-color: white;
  border: none;
}

/* 閉じるアイコンボタン(ホバー時) */
.icon-button.close:hover {
  background-color: white;
}

/* 閉じるアイコンボタン(アクティブ時) */
.icon-button.close:active {
  background-color: white;
  transform: scale(0.96);
}

/* 小さいアイコンボタン */
.small-icon-button {
  cursor: pointer;
}
