* {
  box-sizing: border-box; /* 代替ボックスモデル(widthやheightがborderとpaddingを含んだサイズとして扱われる) */
}

body {
  background-image: url("../img/background.png");
  /* 背景画像の調節が必要 */
}

/* 各フォーム */
.form-group {
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
}

/* ラベル */
.form-label {
  display: block; /* ラベルのみブロック要素にする */
  margin-left: 12px;
  margin-bottom: 4px;
}

/* フォーム */
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* 親要素(form-group)の幅に合わせる */
  border: 1px solid #b9d8c2;
  padding: 8px 20px;
  border-radius: 50px;
}

/* フォーム(フォーカス時) */
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #a6d5a0;
  box-shadow: 0 0 5px rgba(116, 198, 157, 0.4);
  outline: none;
}

/* ヘルプメッセージ */
.form-help {
  color: #888888;
  margin: 4px 12px;
  font-size: 14px;
}

/* ヘルプメッセージ(※マーク) */
.form-help::before {
  content: "※";
  margin-right: 4px;
}

/* ボタン */
.base-button {
  border: 1px solid;
  border-radius: 50px;
  height: 33px;
  font-size: 16px;
  padding: 0 24px;
}

/* 黄色いボタン */
.yellow-button {
  background-color: #f9e491;
  border-color: #f5db73;
}

/* 黄色いボタン(ホバー時) */
.yellow-button:hover {
  background-color: #f7dd78;
  border-color: #f0cf5c;
}

/* 黄色いボタン(アクティブ時) */
.yellow-button:active {
  background-color: #f2c95e;
  border-color: #e6ba4a;
  transform: scale(0.96);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
