/*-------------------------------------------
  タグ
  -------------------------------------------*/
* {
  margin: 0; /* デフォルトの余白をリセット */
  padding: 0; /* デフォルトの余白をリセット */
  box-sizing: border-box; /* 代替ボックスモデル(widthやheightがborderとpaddingを含んだサイズとして扱われる) */
}

body {
  background-image: url("../img/background.png");
  /* 背景画像の調節が必要 */
}

/* アプリタイトル(RareGarden) */
h1 {
  margin: 0;
  white-space: nowrap;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

/* ページタイトル */
h2 {
  margin: 0;
  white-space: nowrap;
}

/* フォーム */
input[type="password"],
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%; /* 親要素の幅に合わせる */
  border: 1px solid #b9d8c2;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  resize: none;
}

/* フォーム(フォーカス時) */
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border-color: #a6d5a0;
  box-shadow: 0 0 5px rgba(116, 198, 157, 0.4);
  outline: none;
}

/* ブラウザのオート入力でフォームが青くなるのを抑制 */
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

/*-------------------------------------------
  クラス
  -------------------------------------------*/

.main-container {
  padding-top: 54px; /* アプリバー分の余白 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-medium);
  margin: 0 20px;
  margin-bottom: 20px;
  max-width: 1280px;
}

.flashes {
  color: red;
  list-style: none;
}

.flashes li {
  text-align: center;
}

/* フォームの入力欄(ボタン以外) */
.form-fields {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

/* ラベル */
.form-label {
  display: block; /* ブロック要素にする */
  margin-left: 12px;
  margin-bottom: 4px;
}

/* ヘルプメッセージ */
.form-help {
  color: #888888;
  margin: 4px 12px;
  font-size: 14px;
}

/* ヘルプメッセージ(※マーク) */
.form-help::before {
  content: "※";
  margin-right: 4px;
}

/* ボタン */
.base-button {
  border: 1px solid;
  border-radius: var(--border-radius);
  height: 33px;
  font-size: 16px;
  padding: 0 24px;
}

/* 黄色いボタン */
.yellow-button {
  background-color: var(--yellow);
  border-color: var(--yellow-border);
}

/* 黄色いボタン(ホバー時) */
.yellow-button:hover {
  background-color: var(--yellow-light);
}

/* 黄色いボタン(アクティブ時) */
.yellow-button:active {
  background-color: var(--yellow-dark);
  transform: scale(0.96);
}

/* アイコンボタン */
.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid;
  border-radius: 50%;
  font-size: 18px;
  background-color: transparent;
}

/* 編集アイコンボタン */
.icon-button.update {
  border-color: var(--green-border);
  background-color: var(--green);
}

/* 編集アイコンボタン(ホバー時) */
.icon-button.update:hover {
  background-color: var(--green-light);
}

/* 編集アイコンボタン(アクティブ時) */
.icon-button.update:active {
  background-color: var(--green-dark);
}

/* 削除アイコンボタン */
.icon-button.delete {
  border-color: var(--red-border);
  background-color: var(--red);
}

/* 削除アイコンボタン(ホバー時) */
.icon-button.delete:hover {
  background-color: var(--red-light);
}

/* 削除アイコンボタン(アクティブ時) */
.icon-button.delete:active {
  background-color: var(--red-dark);
}
