.modal {
  display: none;
}

.main-container {
  margin-top: 60px;
}

#channels-header {
  padding-top: 65px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#create-channel-button {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  background-color: #b9d8c2;
}

#support-message-bar {
  align-self: flex-start;
  width: 100%;
  text-align: left;
}

.support-message-bar-text {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  gap: 5px;
}

.support-message-bar-text::before,
.support-message-bar-text::after {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: black;
}

.support-message-bar-text::before {
  transform: rotate(60deg);
}

.support-message-bar-text::after {
  transform: rotate(-60deg);
}

#channels-body {
  padding-top: 65px;
}

#channels-body h2 {
  margin-bottom: 40px;
  text-align: center;
}

.channels-box {
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 32px;
}

.channels-box li {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels-box li a {
  display: block;
  text-decoration: none;
  color: black;
}

/* 1番目：ピンク */
.channels-box li:nth-child(1) {
  background-color: #ffb3c1;
}

/* 2番目：イエロー */
.channels-box li:nth-child(2) {
  background-color: #fffacd;
}

/* 3番目：オレンジ */
.channels-box li:nth-child(3) {
  background-color: #f5d29e;
}

/* 4番目：グリーン */
.channels-box li:nth-child(4) {
  background-color: #b9d8c2;
}

/* 5番目：ブルー */
.channels-box li:nth-child(5) {
  background-color: #9dbfe3;
}

.pagination-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-size: 14px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  align-items: center;
}
.pagination li {
  display: flex;
  width: 30px;
  height: 30px;
  /* border-radius: 50%;
  border: 2px dotted #000; */
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  cursor: pointer;
  color: #ffb3c1;
}

.pagination li.colored {
  /* color: indianred; */
  font-weight: 700;
  transition: all 0.5s;
}

#prev:hover,
#next:hover {
  cursor: pointer;
  color: #ffb3c1;
}
