.app-title {
  display: flex;
  flex-direction: row;
}
.pagination-container {
  display: flex;
}
.pagination {
  display: flex;
}
li {
  list-style: none;
  text-align: center;
}
.modal {
  display: none;
}

/* .main-container {
  margin-top: 60px;
} */

/* .app-title {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #b9d8c2;
  padding-left: 20px;
  width: 100%;
  height: 11vh;
  z-index: 10;
} */

/* .app-title h1 {
  margin: 10px 0;
  font-size: 38px;
  letter-spacing: -1px;
} */

#channels-header {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

#create-channel-button {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  background-color: #b9d8c2;
}

.support-message-bar {
  background-color: #ffb3c1;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

#channels-body {
}

#channels-body h2 {
  margin-bottom: 40px;
  text-align: center;
}

.channels-box {
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 32px;
}

.channels-box li {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels-box li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

/* 1番目：ピンク */
.channels-box li:nth-child(1) {
  background-color: #ffb3c1;
}

/* 2番目：イエロー */
.channels-box li:nth-child(2) {
  background-color: #fffacd;
}

/* 3番目：オレンジ */
.channels-box li:nth-child(3) {
  background-color: #f5d29e;
}

/* 4番目：グリーン */
.channels-box li:nth-child(4) {
  background-color: #b9d8c2;
}

/* 5番目：ブルー */
.channels-box li:nth-child(5) {
  background-color: #9dbfe3;
}

.pagination-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-size: 14px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  align-items: center;
}
.pagination li {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  cursor: pointer;
  color: #ffb3c1;
}

.pagination li.colored {
  color: indianred;
  font-weight: 700;
  transition: all 0.5s;
}

#prev:hover,
#next:hover {
  cursor: pointer;
  color: #ffb3c1;
}
