#channels-header {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.channel-info-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

#support-message-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-message-bar-text,
.flower-count {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-size: 14px;
}

/* .support-message-bar-text::before,
.support-message-bar-text::after {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: black;
}

.support-message-bar-text::before {
  transform: rotate(60deg);
}

.support-message-bar-text::after {
  transform: rotate(-60deg);
} */

#channels-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-medium);
}

.channel-title-area {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
}

.channel-title {
  line-height: 1;
  transform: translateY(-1px);
}

.channels-box {
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.channels-box li {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

.channels-box li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.pagination-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-size: 14px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  align-items: center;
}

.pagination li {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  cursor: pointer;
  color: #f6c1c1;
}

.pagination li.colored {
  font-weight: 700;
  transition: all 0.5s;
}

#prev:hover,
#next:hover {
  cursor: pointer;
  color: #f6c1c1;
}
