
Loginpage     
B9D8C2:60
FFFFFF:100
FFFDF6:100
F9F6EB:100
000000:100
F9E491:100

登録画面
B9D8C2:60
FFFFFF:100
FFFDF6:100
F9F6EB:100
000000:100
F9E491:100

home
FFFDF6  100
FFB3C1  60 100
F5D29E  60 100
EAE17C  60 100
B9D8C2  60 100   
B4E0C1  60 100　　
9DBFE3  60 100
000000  100

チャット画面
FFFDF6　100
FFF8DE　100
B9D8C2　80
B9D8C2　60
FFFFFF　100
808080　55
000000　100

404/500
F9F6EB 100
F9E491 100
000000 100

mypage 
FFFDF6  100
F9E491  100
B9D8C2  60
D8D8D8  100
FFFFFF  100
B9D8C2  100
000000  100








