
現状のやつ

Loginpage 

textbox 

green: B9D8C2  60％
pink :FFB3C1　 80％
white :FFFFFF  100％　
※red :FF0900  100％  


homepage 

white: FFFDF6  100%
pink:FFB3C1  60%
orange :F5D29E  100% →60%
yellow :EAE17C  60%
green: B9D8C2  60% (tabbar)　  作成button 80%   
green2: B4E0C1  100%　→60%　　
blue : 9DBFE3  100%　→60%
black: 000000 100%


channnelpage

glay : D8D8D8 100%
gleen : B9D8C2 60%  button 100%
pink : FFB3C1 70%
