.error{
background-color:#F9F6EB;
}
.error404{
font-size:50px;
color:black;
text-align:center; 
}

h3{
text-align:center;  
}

p{
font-size:12px;
color:black;
text-align:center;
}

a{
display: block;
font-size:15px;
width: 88px;
height:28px;
padding:0;
margin: auto;
background:#F9E491;
opacity:0.6;
color:black;
text-align: center;
border-radius:30px;
}

a:hover{
background:#F9E491;
opacity:1;
}  
}  
