
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#FFFDF6;
}

.modal-content {
    background-color:#FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border: 0.5px solid #aaa;
    width: 380px;
    text-align: center;
    border-radius:10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.back{
 background-color:#F9F6EB;
 opasity:0.5px;
 color:#808080;
 border-color:#B9D8C2;
 border-radius:30px;
 font-size:12px;
 width: 150px;
 height:25px;   
} 
.back:hover{
 background-color:#B9D8C2;
 opasity:1px;
 border-color:none;
 color:black;
} 

p{
  position:relative;
  left:10px;
}

