.mypage {
  margin-bottom: 3.5rem;
}
.mypage-info {
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mypage-info .info {
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0 1.5rem;
  border-spacing: 0;
  background-color: #fffdf6;
}
.mypage-info .info th,
td {
  text-align: left;
  border-bottom: 1px solid #c9c2bc;
}
.mypage-info .info th {
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}
.mypage-info .info td {
  padding: 1rem 0;
}
.mypage-form {
  display: flex;
}
