background-image:{
}

h1{
top:  px;
text-align:center;
position: relative;
}

h3{
top:20px;
font-size:20px;
position: relative;
}

.name{
top:10px;
font-size:15px;
position:relative;
margin:10px;
right:72px;
}

.email{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:36px;
}

.password{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:48px;  
}

.re-password{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:28px;  
}

.prefecture{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:50px;
}

.container{
position: ;
text-align:center;
background-color:#B9D8C2;
opacity:0.6;
font-size:15px;
width: 280px;
height:420px;
border-radius:50px;
margin: 0 auto;
}

button{
background-color:#F9F6EB;
border-color:#F9E491;
position: relative;
border-radius:30px;
font-size:12px;
opacity:1;
height:28px;
width:88px;
top:10px;  
}

button:hover{
background-color:#F9E491;
opacity:1;
}


