
.background-image:{
}

h1{
text-align:center;  
}
h3{
font-size:20px;
text-align:center;
}

p {
margin-bottom:0px;
font-size:15px;
}

.container{ 
position: relative;
text-align:center; 
background-color:#B9D8C2;
opacity: ;
width: 280px;
height:360px;
border-radius:50px;
margin: 0 auto;
}

button{
position: absolute;
top:300px;
left:96px; 
text-align:center;
background-color:#FFB3C1;
font-size:12px;
opacity:0.7;
height:28px;
width:88px;  
border-radius:30px;
border: none;
}

button:hover {
background-color:#FFB3C1;
opacity:1;
}
