background-image:{
}
h1{
top:  px;
text-align:center;
position: relative;
}

h3{
top:20px;
font-size:20px;
position: relative;
}
.name{
top:10px;
font-size:15px;
position: relative;
margin:10px;
right:72px;
}

.email{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:36px;
}

.password{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:44px;  
}

.prefecture{
top:10px;
font-size:15px;
position: relative;
margin:8px;
right:50px;
}

.container{
position: ;
text-align:center;
background-color:#B9D8C2;
opacity: ;
font-size:15px;
width: 280px;
height:360px;
opacity:0.8;
border-radius:50px;
margin: 0 auto;
border:none;
}

button{
background-color:#FFB3C1;
font-size:12px;
opacity:0.7;
height:28px;
width:88px;
border-radius:30px;
border: none;
top:10px;
position: relative;  
}

button:hover{
background-color:#FFB3C1;
opacity:1;
}

