nav {
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 10;
}
#header-menu {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  list-style: none;
}
#header-menuã€€li a {
  padding: 8px;
  font-size: 16px;
  color: #464646;
  display: block;
  text-align: center;
  text-decoration: none;
}
.hamburger {
  position: absolute;
  top: 10px;
  right: 32px;
  cursor: pointer;
  width: 32px;
  height: 24px;
  z-index: 10;
  font-size: 2.5em;
}
