{% extends "error/base.html" %}
{% block title %} error {% endblock %} 

{% block content %}
<body class="error">
<div class="error-content">
<p class="error404">4 0 4</p>
</div>
<div class="error-description error">
<h3>Page is not found </h3>
<p>申し訳ございません。<br>
<p>お探しのページは見つかりませんでした</p>
<a href="https://github.com/hackathon-autumn-Hteam/hackathon-autumn-Hteam/blob/feature/191/ChatApp/templates/auth/login.html" class="button">戻る</a>
</div>
</div>
</body>
{% endblock content %} 

{% block script %} 
{% endblock script %}
