
    //{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% blockbody %}

    <head>
<title>背景画像404</title>
<link rel="stylesheet" href="error.css">
</head>

<body class="error">
<div class="error-wrapper">
<div class="error-content">
<div>
<p class="error404">4 0 4</p>
</div>
<div class="error-description error">    //<div class="error-description error404or500">
<h３>Page is not found <h３>
<p>申し訳ございません。<br>
<p>お探しのページは見つかりませんでした</p>

<a href="[https://example.com](https://example.com/)" class="button"> 戻る</a>

</div>
</div>
</div>

</body>
{% endblock %} {% block script %} {% endblock %} //ここらへんは未完