
{% extends "error/base.html" %}   //base.htmlを代入
{% block title %} error {% endblock %} 

{% block content %}  //共通部分以外
<body class="error">
<div class="error-content">
<div>
<p class="error500">500</p>
</div>
<div class="error-description error">
<h3> Internal Server Error </h3>
<p>お探しのページは表示できませんでした</p>
<a href="https://github.com/hackathon-autumn-Hteam/hackathon-autumn-Hteam/blob/feature/191/ChatApp/templates/auth/login.html" class="button"> 戻る</a>
</div>
</div>
</body>
{% endblock content %} 

{% block script %} 
{% endblock script %}

